:root {
    --gold: #D4A24C;
    --orange: #ff5500;
    --neon-blue: #00f0ff;
    --matte-black: #0a0a0a;
    --mpc-gray: #b5b5b5;
}

* { 
    image-rendering: pixelated; 
    font-family: 'Press Start 2P', cursive;
    user-select: none;
}

body {
    background-color: #000;
    background-image: radial-gradient(circle, #1a1a1a 0%, #000 100%);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* CHASSI DA MPC 60 EM PIXEL ART HD */
.mpc-chassi {
    width: 1200px;
    height: 800px;
    background: var(--mpc-gray);
    border: 6px solid #333;
    box-shadow: 20px 20px 0 #000, inset 4px 4px 0 #eee, inset -4px -4px 0 #666;
    position: relative;
    padding: 40px;
}

/* TELA LCD - O LABORATÓRIO DE ESTILO */
.lcd-screen {
    background: #0d1b10;
    border: 10px solid #111;
    height: 420px;
    width: 100%;
    position: relative;
    box-shadow: inset 0 0 50px #000;
    display: flex;
    gap: 20px;
    padding: 20px;
}

/* PADS 4x4 (ESTILO MPC) */
.pads-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    width: 500px;
    margin-top: 40px;
}

.pad {
    aspect-ratio: 1;
    background: #2a2a2a;
    border: 3px solid #111;
    border-bottom: 8px solid #000;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.05s;
}

.pad.active {
    background: var(--orange);
    border-color: #fff;
    box-shadow: 0 0 20px var(--orange);
    transform: translateY(4px);
    border-bottom-width: 2px;
}

.pad-matte { background: #050505 !important; border-color: #111 !important; cursor: default; }

/* GUARDA ROUPA ESTILO HABBO NEWS */
.wardrobe-container {
    flex: 1;
    background: #f0f0f0;
    border: 3px solid #000;
    display: flex;
    flex-direction: column;
    color: #000;
}

.habbo-tabs {
    display: flex;
    background: #adadad;
    border-bottom: 2px solid #000;
}

.tab {
    padding: 10px;
    border-right: 2px solid #000;
    cursor: pointer;
    background: #adadad;
}

.tab.active { background: #f0f0f0; }

.item-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    padding: 10px;
    overflow-y: auto;
    background: #fff;
}

.item-slot {
    border: 1px solid #ccc;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.item-slot:hover { border-color: var(--orange); background: #f9f9f9; }